<div class="container">
    <div class="header-left">
        <h1>Taxonomy Service</h1>
        <ce-link route-name="category-master-detail" routesegments='["categories"]' class="categories"  auth-required>categories</ce-link>
        <ce-link route-name="tag-master-detail" routesegments='["tags"]' class="tags" auth-required>tags</ce-link>
    </div>
    <div class="header-right">
        <ce-link routesegments='["login"]' class="logout" auth-required>logout</ce-link>
        <ce-link routesegments='["login"]' class="login" anonymous-required>login</ce-link>
        <ce-link routesegments='["user-settings"]' class="settings" auth-required>settings</ce-link>
        <ce-link routesegments='["register"]' class="register" anonymous-required>register</ce-link>
    </div>
</div>

